.nav-item a {
    color: white;
    text-align: center;
    font: Verdana;
    font-size: 0.95em
}

.dropdown-menu{
    background-color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; 
    margin-top: 0;  
}

.navbar{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav{
    margin-left: 5%;
    margin-right: 5%;
}

.principal {
    display: flex; 
}
.lado {
    width: 20%; 
}
.central {
    width: 80%;
    background-color: #e9ecef; 
    padding: 10px; 
    text-align: center;
}

.imgSept{
    height: 32vh;
    object-fit: cover;
    padding-bottom: 2%;
    
}
.imgTads{
    height: 30vh;
    object-fit: cover;
    filter: blur(4px);
    
}
.col-md-4{
    max-width: 20vh;
}
.cursos{
    text-align: center;
    font: Verdana;
    font-size: 0.95em;
    padding: 1%;  
}

.informacao{
    text-align: center;
    font: Verdana;
    font-size: 0.95em;
    padding: 1%; 
}

.cabecalho{
    text-align: center;
    font: Verdana;
    font-size: 0.95em;

}

.card-text{
    padding-top: 8%;
}
