
.nav-item a {
    color: white;
    text-align: center;
    font: Verdana;
    font-size: 0.95em;
    position: relative;
    display: inline-block;
}


.dropdown-menu{
    background-color: black;
}
.nav-item:hover .dropdown-menu {
    display: block;  
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    width: auto;  
    margin-top: 0%;  
  }

.navbar{
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navbar-nav{
    margin-left: 5%;
    margin-right: 5%;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.principal {
    display: flex; 
}
.lado {
    width: 20%; 
}
.central {
    width: 80%;
    text-align: center;
}

.imgSept{
    object-fit: cover;
    padding-bottom: 2%;
    height: 40vh;
    width: auto;
    display: flex;
    
}

.col-md-4{
    max-width: 20vh;
}

.btm{
    width: 20%;
    align-self: center;
    margin: 2%;
}

.rodape{
    width: 100%;              
    margin: 0 auto;           
    column-count: 4;          
    column-gap: 10%;       
    display: flex; 
}



.fundo {
    background-image: url("./capaUFPR.jpg");
    opacity: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
  }
  

  .conteudo-sobre-imagem {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  .colunas_de_links a{
    color: #ffffff; 
    text-decoration: none;
    padding: 0%;
    margin: 0%;

  }
  .colunas_de_links h5{
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .colunas_de_links{
    line-height: 0.90;
    text-align: left;
    padding-left: 4%;
    font-size: small;
  }
  
  .colunas_de_links a:hover {
    text-decoration: underline;
  }
  .imgTads{
    height: 30vh;
    object-fit: cover;
    filter: blur(2%);
    
}
.apresentacao{
  margin: 4%;
  font-size: large;
  
}

.rodape-ufpr{
  background-color: #212529;
  color: #ffffff;
}

.corpo_efetivo{
 text-align:left;
 margin: 3.4%;
}

.tabela{
  width: 100%;
  
}

.Avisos_TADS {
  display: flex;
  justify-content: space-between; 
}
.coluna {
  margin: 0;
}

.posts{
  text-align: left;
  
}

.autor p{
  margin: 0;
  margin-top: 7%;
  padding: 0;
  margin-left: 10%;
}

.formulario{
  margin-top: 5%;
}

.autor{
  margin-left: 40%;
}

.table-responsive p{
  margin-right: 100%;
}

.table-responsive {
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .table-responsive-mobile {
    overflow-x: auto; /* Habilita o scroll horizontal */
    -webkit-overflow-scrolling: touch; /* Suave no mobile */
  }
  
  /* Garantir que o texto dentro das células da tabela quebre adequadamente */
  .table-responsive-mobile table {
    width: 100%; /* Garantir que a tabela ocupe toda a largura disponível */
    table-layout: fixed; /* Melhor controle sobre o layout das colunas */
  }

  /* Quebrar texto longo dentro das células */
  .table-responsive-mobile td, 
  .table-responsive-mobile th {
    word-wrap: break-word;
    word-break: break-word; /* Quebra palavras longas */
    max-width: 100%; /* Evitar que o conteúdo ultrapasse as células */
  }

  /* Ajustar o tamanho da imagem do autor para dispositivos móveis */
  .table-responsive-mobile .card img {
    width: 40px; /* Limitar a largura da imagem */
    height: 40px; /* Limitar a altura da imagem */
    object-fit: cover; /* Ajuste adequado para a imagem */
  }
  
  .autor{
    width: 20vh;
    padding: 0%;
    margin-left: 20%;
  }

  .formulario h1{
    margin-top: 30%;
  }
  .corpo_efetivo{
    overflow-x: auto;  /* Permite rolar horizontalmente */
    white-space: nowrap;  /* Impede a quebra de linha dentro da div */
  }
  .testando123{
    margin-right: 20%;
  }
  .testando1234{
    margin-right:2%;
  }
  .dev{
    margin-left:200%;
  }

}

#textoNovoPost{
  margin-top: 5%;
}

.campo-invalido {
  border: 2px solid red;
}

.campo-valido {
  border: 2px solid green;
}

#vlibras {
  bottom: 100px; /* Ajuste a distância inferior */
  right: 100px; /* Ajuste a distância lateral */
}

.navbar .nav-link:hover {
  background-color: #f0f0f0; /* Cor desejada para o fundo */
  border-radius: 5px; /* Deixe o item com bordas arredondadas (opcional) */
}

input[type="text"], input[type="email"], textarea, input[type="number"], input[type="date"]{
  background-color:#bbbbbb;
}

.form-control{
  background-color:#bbbbbb;
}


input[type="radio"] {
  border: 3px solid #007BFF; /* Borda colorida */
  border-radius: 50%; /* Garante que o botão continue redondo */
  appearance: none; /* Remove o estilo padrão */
  background-color: white; /* Cor de fundo */
  outline: none; /* Remove o contorno */
}

.corpo_efetivo{
  overflow-x: auto;  /* Permite rolar horizontalmente */
  white-space: nowrap;  /* Impede a quebra de linha dentro da div */
}

.dev{
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  display: flex;
  margin-left: 20%;
  margin-top: 10%;
}

.dev-card{
  margin-top: 4%;
  margin-left: 25%;
  text-align: left;
  padding: 0%;
  text-align: justify;
}
.testando123{
  text-align: justify;
}
