.nav-item a {
    color: white;
    text-align: center;
    font: Verdana;
    font-size: 0.95em
}

.dropdown-menu{
    background-color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; 
    margin-top: 0;  
}

.navbar{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.principal {
    display: flex; 
}
.lado {
    width: 20%; 
    padding: 10px; 
    text-align: center;
}
.central {
    width: 80%;
    background-color: #e9ecef; 
    padding: 10px; 
    text-align: center;
}

.imgSept{
    height: 32vh;
    object-fit: cover;
    padding-bottom: 2%;
    
}

.col-md-4{
    max-width: 20vh;
}
.cursos{
    max-width: 16vh;
    margin-left: 25%;
}

