
.nav-item a {
    color: white;
    text-align: center;
    font: Verdana;
    font-size: 0.95em;
    position: relative;
    display: inline-block;
}


.dropdown-menu{
    background-color: black;
}
.nav-item:hover .dropdown-menu {
    display: block;  
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    width: auto;  
    margin-top: 0%;  
  }


.navbar{
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navbar-nav{
    margin-left: 5%;
    margin-right: 5%;
}

.principal {
    display: flex; 
}
.lado {
    width: 20%; 
}
.central {
    width: 80%;
    text-align: center;
}

.imgSept{
    object-fit: cover;
    padding-bottom: 2%;
    height: 40vh;
    width: auto;
    
}

.col-md-4{
    max-width: 20vh;
}

.btm{
    width: 20%;
    align-self: center;
    margin: 2%;
}

.rodape{
    width: 100%;              
    margin: 0 auto;           
    column-count: 4;          
    column-gap: 10%;        
}



.fundo {
    background-image: url("./capaUFPR.jpg");
    opacity: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
  }
  

  .conteudo-sobre-imagem {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  .colunas_de_links a{
    color: #ffffff; 
    text-decoration: none;
    padding: 0%;
    margin: 0%;

  }
  .colunas_de_links h5{
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .colunas_de_links{
    line-height: 0.90;
    text-align: left;
    padding-left: 4%;
    font-size: small;
  }
  
  .colunas_de_links a:hover {
    text-decoration: underline;
  }
  .imgTads{
    height: 30vh;
    object-fit: cover;
    filter: blur(2%);
    
}
.apresentacao{
  margin: 4%;
  font-size: large;
  
}

.rodape-ufpr{
  background-color: #212529;
  color: #ffffff;
}

.corpo_efetivo{
 text-align:left;
 margin: 3.4%;
}

.tabela{
  width: 100%;
  
}

.Avisos_TADS {
  display: flex;
  justify-content: space-between; 
}
.coluna {
  margin: 0;
}

.posts{
  text-align: left;
  
}

.autor{
  width:80%;
  line-height: 0.99;

}
.autor p{
  margin: 0;
  margin-top: 7%;
  padding: 0;
  margin-left: 10%;
}

.formulario{
  margin-top: 15%;
}